/*
.fast-img{
    width: 70%;
    /* height:10px; */

/* .fast-img{
display: grid;
grid-template-columns: repeat(3, 1fr);
grip-gap:20px;
margin: 0 auto;
height: 20px;
width: 800px;
}
.fast-img{
    width: 20%;

}
     */
/*
 .fast-img{
   background-image: url("fast-img.jpg");
}
*/

*{
    margin: 0px;
    box-sizing: border-box;
}
.bt-text{
    color: white;
}
.title{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: black;
    width: 100%;

}

.grid-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box1, .box2, .box3, .box4, .box5 {
    margin: 1em;
    width: 20em;
    height: 15em;
    background: white;
}

.box1 {
    overflow: hidden;
}

.box1 img {
    height: 100%;
}
.box2{
    overflow: hidden;
}
.box2 img{
    height: 100%;
    width: 100%;
}
.box3{
    overflow: hidden;
}
.box3 img{
    height: 100%;
    width: 100%;
}
.box4{
    overflow: hidden;
}
.box4 img{
    height: 100%;
    width: 100%;
}
.box5{
    overflow: hidden;
}
.box5 img{
    height: 100%;
    width: 100%;
}
.box6 {
    overflow: hidden;
}
.box6 img{
    width: 40%;
    height: 100%;
}
.box7 {
    overflow: hidden;
}
.box7 img{
    width: 40%;
    height: 260px;
}
.box8 {
    overflow: hidden;
}
.box8 img{
    width: 40%;
    height: 260px;
}


@media only screen and (max-width: 768px){       
    .grid-ctn{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
    }
}
@media (max-width: 1024px) {
    .grid-ctn{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 4px;
    }
}

@media (max-width: 412px) {
    .grid-ctn{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
    }
}